* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: orange;
}

.flex {
  display: flex;
  justify-content: center;
}

h1,
h3 {
  text-align: center;
}

#x {
  color: red;
}

a {
  text-decoration: none;
  color: black;
}

