*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: orange;
}
.flex{
  display: flex;
  justify-content: center;
}
h1, h3{
  text-align: center;
}

// .fa-times-circle{
// font-size: 25px;
// }
#x{
  color: red;
}
a{
  text-decoration: none;
  color: black;
}
img{
  width: 90px;
  height: 100px;
}
li{
  list-style-type: none;
}
